/*
  Layout styles
  ----------------------------------- */

.wrapper {
  grid-container: true;
}

/* EQUAL */

.one-element {
  col-span: mobile(1,1);
}

.two-elements {
  col-span: mobile(1,1);
  col-span: phablet(1,2);
}

.three-elements {
  col-span: mobile(1,1);
  col-span: phablet(1,3);
}

.four-elements {
  col-span: mobile(1,1);
  col-span: phablet(1,2);
  col-span: tablet(1,4);
}

.six-elements {
  col-span: mobile(1,1);
  col-span: phablet(1,3);
  col-span: tablet(1,6);
}

.eight-elements {
  col-span: mobile(1,1);
  col-span: phablet(1,2);
  col-span: tablet(1,4);
  col-span: desktop(1,8);
}

.twelve-elements {
  col-span: mobile(1,1);
  col-span: phablet(1,3);
  col-span: tablet(1,6);
  col-span: desktop(1,12);
}

/* MULTI ROW */

.multi-row--eight {
  col-span: mobile(1,2);
  col-span: phablet(1,4);
  col-span: tablet(1,6);
  col-span: desktop(1,8);
}

.multi-row--twelve {
  col-span: mobile(1,2);
  col-span: phablet(1,3);
  col-span: tablet(1,4);
  col-span: desktop(1,6);
  col-span: wide(1,12);
}

/* NON EQUAL */

.one-quater {
  col-span: mobile(1,2);
  col-span: tablet(1,4);
}

.two-quaters {
  col-span: mobile(1,1);
  col-span: tablet(2,4);
}

.one-third {
  col-span: mobile(1,3);
}

.two-thirds {
  col-span: mobile(2,3);
}

.one-sixth {
  col-span: mobile(1,2);
  col-span: tablet(1,6);
}

.four-sixths {
  col-span: mobile(1,1);
  col-span: tablet(4,6);
}
