/*
  Theming styles
  ----------------------------------- */

h1,
h2 {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

section div {
  margin-top: 10px;
  margin-bottom: 10px;
  background: orange;
  padding: 15px 10px;
}


/*
  Layout styles
  ----------------------------------- */

.row {
  grid-container: true;
}

/* EQUAL */

.one-column {
  col-span: mobile(1,1);
}

.four-columns {
  col-span: mobile(1,1);
  col-span: tablet(1,2);
  col-span: desktop(1,4);
}

.three-columns {
  col-span: mobile(1,1);
  col-span: tablet(1,3);
}

.six-columns {
  col-span: mobile(1,1);
  col-span: tablet(1,3);
  col-span: desktop(1,6);
}

/* UN-EQUAL */

.one-quater {
  col-span: mobile(1,2);
  col-span: tablet(1,4);
}

.two-quaters {
  col-span: mobile(1,1);
  col-span: tablet(2,4);
}

.one-third {
  col-span: mobile(1,1);
  col-span: tablet(1,3);
}

.two-thirds {
  col-span: mobile(1,1);
  col-span: tablet(2,3);
}

.one-sixth {
  col-span: mobile(1,1);
  col-span: tablet(1,6);
}

.four-sixths {
  col-span: mobile(1,1);
  col-span: tablet(4,6);
}


/* MULTI ROW */

.multi-row {
  col-span: mobile(1,1);
  col-span: tablet(1,2);
  col-span: desktop(1,4);
}
