/*
  Layout styles
  ----------------------------------- */

.wrapper::after {
  content: "" ;
  display: table;
  clear: both;
}

.wrapper {
  max-width: 80.8em;
  min-width: calc(20em - 20px);
  margin: 0 auto;
  box-sizing: border-box;
}

/* EQUAL */

.one-column {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.four-columns {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.three-columns {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.six-columns {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

/* UN-EQUAL */

.one-quater {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 49%;
  transition: all 0.5s ease;
}

.two-quaters {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.one-third {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.two-thirds {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.one-sixth {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.four-sixths {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

/* MULTI ROW */

.multi-row {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

@media only screen and (min-width:30) {

  .four-columns {
    width: 49%;
  }

  .three-columns {
    width: 32.333333333333336%;
  }

  .six-columns {
    width: 32.333333333333336%;
  }

  .one-quater {
    width: 24%;
  }

  .two-quaters {
    width: 49%;
  }

  .one-third {
    width: 32.333333333333336%;
  }

  .two-thirds {
    width: 65.66666666666667%;
  }

  .one-sixth {
    width: 15.666666666666666%;
  }

  .four-sixths {
    width: 65.66666666666667%;
  }

  .multi-row {
    width: 49%;
  }
}

@media only screen and (min-width:48) {

  .four-columns {
    width: 24%;
  }

  .six-columns {
    width: 15.666666666666666%;
  }

  .multi-row {
    width: 24%;
  }
}

/*
  Theming styles
  ----------------------------------- */

.group {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

h1,
h2 {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  max-width: 800px;
  margin: 10px auto;
}

section div {
  margin-top: 10px;
  margin-bottom: 10px;
  background: orange;
  padding: 15px 10px;
}

@media screen and (min-width: 30em) {

  section div {
    background: blue;
  }
}

@media screen and (min-width: 48em) {

  section div {
    background: green;
  }
}

@media screen and (min-width: 63.750em) {

  section div {
    background: red;
  }
}

@media screen and (min-width: 80em) {

  section div {
    background: pink;
  }
}
