/*
  Layout styles
  ----------------------------------- */

.wrapper::after {
  content: "" ;
  display: table;
  clear: both;
}

.wrapper {
  max-width: 80.8em;
  min-width: calc(20em - 20px);
  margin: 0 auto;
  box-sizing: border-box;
}


/* EQUAL */

.one-element {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.two-elements {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.three-elements {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.four-elements {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.six-elements {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.eight-elements {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.twelve-elements {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

/* MULTI ROW */

.multi-row--eight {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 49%;
  transition: all 0.5s ease;
}

.multi-row--twelve {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 49%;
  transition: all 0.5s ease;
}

/* NON EQUAL */

.one-quater {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 49%;
  transition: all 0.5s ease;
}

.two-quaters {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

.one-third {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 32.333333333333336%;
  transition: all 0.5s ease;
}

.two-thirds {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 65.66666666666667%;
  transition: all 0.5s ease;
}

.one-sixth {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 49%;
  transition: all 0.5s ease;
}

.four-sixths {
  float: left;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 99%;
  transition: all 0.5s ease;
}

@media only screen and (min-width:30em) {

  .two-elements {
    width: 49%;
  }

  .three-elements {
    width: 32.333333333333336%;
  }

  .four-elements {
    width: 49%;
  }

  .six-elements {
    width: 32.333333333333336%;
  }

  .eight-elements {
    width: 49%;
  }

  .twelve-elements {
    width: 32.333333333333336%;
  }

  .multi-row--eight {
    width: 24%;
  }

  .multi-row--twelve {
    width: 32.333333333333336%;
  }
}

@media only screen and (min-width:48em) {

  .four-elements {
    width: 24%;
  }

  .six-elements {
    width: 15.666666666666666%;
  }

  .eight-elements {
    width: 24%;
  }

  .twelve-elements {
    width: 15.666666666666666%;
  }

  .multi-row--eight {
    width: 15.666666666666666%;
  }

  .multi-row--twelve {
    width: 24%;
  }

  .one-quater {
    width: 24%;
  }

  .two-quaters {
    width: 49%;
  }

  .one-sixth {
    width: 15.666666666666666%;
  }

  .four-sixths {
    width: 65.66666666666667%;
  }
}

@media only screen and (min-width:63.75em) {

  .eight-elements {
    width: 11.5%;
  }

  .twelve-elements {
    width: 7.333333333333333%;
  }

  .multi-row--eight {
    width: 11.5%;
  }

  .multi-row--twelve {
    width: 15.666666666666666%;
  }
}

@media only screen and (min-width:80em) {

  .multi-row--twelve {
    width: 7.333333333333333%;
  }
}

/*
  Theming styles
  ----------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #999;
}

.wrapper {
  margin: 20px auto;
}

h1,
h2 {
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

p {
  max-width: 990px;
  margin: 10px auto;
  font-weight: 200;
}

section div {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 10px;
  background: #ffa600;
  color: #fff;
}

@media screen and (min-width: 30em) {
  section div {
    background: #82d2e5;
  }
}

@media screen and (min-width: 48em) {
  section div {
    background: #c1d72e;
  }
}

@media screen and (min-width: 63.750em) {
  section div {
    background: #ffc0cb;
  }
}

@media screen and (min-width: 80em) {
  section div {
    background: #dfdedf;
  }
}
