/*
  Theming styles
  ----------------------------------- */

h1,
h2 {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

section div {
  margin-top: 10px;
  margin-bottom: 10px;
  background: orange;
  padding: 15px 10px;
}
