/*
  Theming styles
  ----------------------------------- */

.group {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

h1,
h2 {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  max-width: 800px;
  margin: 10px auto;
}

section div {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ffa600;
  padding: 15px 10px;
}

@media screen and (min-width: 30em) {
  section div {
    background: #82d2e5;
  }
}

@media screen and (min-width: 48em) {
  section div {
    background: #c1d72e;
  }
}

@media screen and (min-width: 63.750em) {
  section div {
    background: #ffc0cb;
  }
}

@media screen and (min-width: 80em) {
  section div {
    background: #dfdedf;
  }
}
